<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andreas.walk_eshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary"/>


        <activity android:name="com.example.andreas.walk.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name="com.example.andreas.walk.NoConnectionActivity"
            android:parentActivityName="com.example.andreas.walk.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andreas.walk.Drawer" />
        </activity>

        <service android:name="com.example.andreas.walk.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.example.andreas.walk.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.example.andreas.walk.TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName="com.example.andreas.walk.Drawer"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andreas.walk.Drawer" />
        </activity>
        <activity
            android:name="com.example.andreas.walk.Drawer"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

          <intent-filter>
             <action android:name="android.intent.action.MAIN" />

              <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>

         </activity>

    </application>

</manifest>